# Log and output files
*.log
!requirements.log
*.png
*.csv
debug/

# Text log input files (except sample logs under log/)
*.txt
log/*
!log/*.txt

# Binaries and executables
*.exe

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Runtime state files
forward_sent.json
Print_Job_config.json

# IDE / Editor folders
.vscode/
.idea/
/log
